.AppContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    padding-inline: 10vw;
    overflow-x: hidden;
    gap: 1rem;
    padding-top: 5rem;
    position: relative;
}


.bannersContainer {
    width: 100%;
    display: flex;
    gap: 1rem
}


.containerCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
    gap: 1rem;
}

.background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.667);
}

.closeElement {
    position: absolute;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
}

@media (min-width: 1284px) {
    .AppContainer {
        padding-inline: 20vw;

    }
}

@media (min-width: 1920px) {
    .AppContainer {
        padding-inline: 25vw;
    }
}